Django
django-ckeditor
django-cors-headers
django-environ
django-storages
djangorestframework
Pillow
psycopg2

djoser
social-auth-app-django

pytz

mutagen

argon2-cffi 

stripe
braintree

pyJWT

boto3
django-storages 

markdown
gunicorn
whitenoise

mysqlclient
environ

requests